<html lang='en'>
<head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <title>
        {{ sub }}
    </title>
    </meta>
</head>
<style>
    p.details {
        font-style: italic;
        color: #777
    }
</style>
<body>
<div class='content'>
    <p>下面是您的公司内部账户信息，请注意保存,防止泄露</p>

    <p>Windows登入</p>
    <p>帐号:{{ uid }},密码:Csf123</p>

    <p>RTX</p>
    <p>帐号:{{ uid }},密码:无密码</p>

    <p>Mail</p>
    <p>帐号:{{ uid }}@chinascopefinancial.com,密码:@WSXCDE#</p>

    <p>LDAP</p>
    <p>帐号:{{ uid }},密码:{{ pwd }}</p>

    <a href='http://twiki.chinascopefinancial.com/twiki/bin/view/Main/Newcomer-Attentions'>新员工入职IT须知</a>
</div>

</body>
</html>
