<html lang='en'>
<head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <title>
        {{ sub }}
    </title>
    </meta>
</head>
<style>
    p.details {
        font-style: italic;
        color: #777
    }
</style>
<body>
<div class='content'>
    <p>申请时间:{{ release.apply_time.strftime("%Y-%m-%d %H:%M:%S") }}</p>

    <p>发布时间:{{ release.release_time }}</p>

    <p>申请人:{{ release.apply_uid }}</p>

    <p>项目名称:{{ release.project }}</p>
    {% if approvals %}
        {% for a in approvals %}
            {% if a.status=="退回" %}
                <p>{{ a.type }}:{{ a.uid }},{{ a.status }}</p>
                <p>退回理由:{{ a.reson }} {{ a.options }}</p>
            {% else %}
                <p>{{ a.type }}:{{ a.uid }},{{ a.status }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
    <p>
        <a href={{ url }}>详情</a>
    </p>

</div>

</body>
</html>
