<html lang='en'>
<head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <title>
        {{ sub }}
    </title>
    </meta>
</head>
<style>
    p.details {
        font-style: italic;
        color: #777
    }
</style>
<body>
<div class='content'>
    <p>类型:{{ leave_type }}</p>
    <p>申请人:{{ leave.uid }}</p>
    <P>起止时间:{{ leave.begin_time.strftime("%Y-%m-%d %H:%M:%S")}}/{{ leave.end_time.strftime("%Y-%m-%d %H:%M:%S")}}</P>
    <p>天数:{{ leave.days }}</p>
    <p>电话:{{ leave.tel }}</p>
    <p>理由:{{ leave.reson}}</p>
    <p>反馈:{{ leave.feedback }}</p>
</div>

</body>
</html>
