<html lang='en'>
<head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <title>
        {{ sub }}
    </title>
    </meta>
</head>
<style>
    p.details {
        font-style: italic;
        color: #777
    }
</style>
<body>
<!--
 id = db.Column(db.Integer, primary_key=True, autoincrement=True)
    price = db.Column(db.Float)
    spec = db.Column(db.String(128))
    amount = db.Column(db.Integer)
    purchase_id = db.Column(db.Integer, db.ForeignKey("purchase.id"))
    category = db.relationship("Category",
                               secondary=purchase_goods_category,
                               backref=db.backref("goods"),
                               uselist=False)

-->


<div class='content'>
    <p>
        <a href={{ url }}>详情</a>
    </p>
</div>

</body>
</html>
