<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <nav class="navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="menu">
            <a class="navbar-brand ul_list" href="#">服务</a>
            <ul class="li_list">
              <li><a href="#">首页</a></li>
              <li><a href="#">流程审批</a></li>
              <li><a href="#">资源管理</a></li>
              <li><a href="#">发布系统</a></li>
            </ul>
          </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <div class="drop-down">
                <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="caret"></span>
                </div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">我的账户</a></li>
                  <li><a href="#">管理运维中心</a></li>
                  <li><a href="/logout">退出</a></li>
                </ul>
              </div>
              <a href="#" class="lagin">登录</a>
            </li>
            <li><a href="#">联系我们</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <h1 class="page-header">Chinascope 运维中心</h1>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>流程审批</th>
                <th>资源管理</th>
                <th>发布系统</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="#">采购</a></td>
                <td><a href="#">各个IDC</a></td>
                <td><a href="#">mobile</a></td>
              </tr>
              <tr>
                <td><a href="release/release.html">发布</a></td>
                <td><a href="#">分公司</a></td>
                <td><a href="#">数库港</a></td>
              </tr>
              <tr>
                <td><a href="#">请假</a></td>
                <td><a href="#">OFFICE</a></td>
                <td><a href="#">ichinascope</a></td>
              </tr>
              <tr>
                <td><a href="#">离职入职</a></td>
                <td><a href="#"></a></td>
                <td><a href="#">书库云</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

     <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/dist/js/jquery-1.10.2.min.js"></script>
    <script src="../static/index.js"></script>
    <script src="../static/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../static/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
